<div class="mt-4">
  <form action="" method="post">
    <div class="mb-3">
      <label for="search-input" class="form-label">Key word</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Input key word"
      />
    </div>
    <div class="mb-3">
      <label for="render-input" class="form-label">Key word</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">--select gender--</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>